batchgenerators==0.23
faiss-gpu==1.7.1.post2
h5py==2.10.0
Keras-Applications==1.0.8
keras-balanced-batch-generator==0.0.1
Keras-Preprocessing==1.1.2
matplotlib==3.3.4
numpy==1.18.5
pandas==1.1.5
pytorch-metric-learning==0.9.99
scikit-image==0.17.2
scikit-learn==0.24.2
scipy==1.4.1
SimpleITK==2.0.2
sklearn==0.0
tensorboard==2.5.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow-addons==0.13.0
tensorflow-datasets==4.3.0
tensorflow-estimator==2.3.0
tensorflow-gpu==2.3.0
tensorflow-metadata==1.1.0
tf-metric-learning==1.0.9
torch==1.9.0
torch-summary==1.4.5
torchaudio==0.9.0
torchsummary==1.5.1
torchvision==0.10.0
tornado==6.1
tqdm==4.61.1
wandb==0.12.6

